{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 200,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleAttributePerLine": false
}